{deps_dir, ["deps"]}.

{deps,  [
        ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}] }.
{cover_enabled, true}.
{plugins, [rebar_covertool]}.
{covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name
{edoc_opts, [{private, false}, {todo, true}, {packages, false}, {new, true}]}.
